.container .soru .soru1{
    margin-top: 30px;
 }

 .container{

   width: 90%;
   height: 600px;
   border: 1px solid black;
   margin-left: 60px;
   margin-top: 20px;
   background-color:darkslateblue;
   border-radius: 10px;
}

img{
    width: 500px;
    height: 200px;
}

#puan{
    position: fixed;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-left: 20px;
    padding: 5px;
    background-color: blueviolet;
    border-radius: 10px;
 }
